Load modules:

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import preprocessing

Load data:

In [2]:
train=pd.read_csv('train.csv',sep=',',header=0,index_col=0)

/home/ubuntu/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
test=pd.read_csv('test.csv',sep=',',header=0,index_col=0)

/home/ubuntu/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,9,10,11,12,43,157,167,177,196,214,225,228,229,231,235,238) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Verify results:

In [4]:
len(train)

145231

In [5]:
len(test)

145232

In [6]:
train.describe()

,VAR_0002,VAR_0003,VAR_0004,VAR_0006,VAR_0007,VAR_0013,VAR_0014,VAR_0015,VAR_0016,VAR_0017,...,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,target
count,145231.000000,145231.000000,1.452310e+05,145175.000000,145175.00000,145175.000000,145175.000000,145175.000000,145175.000000,145175.000000,...,145231.000000,145231.000000,145231.000000,145231.000000,1.452310e+05,145231.000000,145231.000000,145231.000000,145231.000000,145231.000000
mean,105.278040,88.492285,3.721946e+03,0.693907,0.51316,0.693907,0.494493,0.476763,1.447598,0.496366,...,0.549965,86.664369,89.828762,914.417259,9.904497e+08,922.938505,936.487905,9942.162279,8849.839111,0.232547
std,143.351237,125.903323,1.228001e+04,1.604578,1.17531,1.604578,1.115085,1.000755,1.132784,1.170568,...,6.361312,31.347700,26.928221,276.361514,9.725818e+07,212.087416,210.370833,743.153332,3175.797333,0.422457
min,0.000000,0.000000,0.000000e+00,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,13.000000,1.790000e+03,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
50%,60.000000,55.000000,2.500000e+03,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
75%,132.000000,120.000000,3.600000e+03,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,98.000000,98.000000,998.000000,1.000000e+09,998.000000,998.000000,9998.000000,9998.000000,0.000000
max,999.000000,999.000000,2.200000e+06,68.000000,66.00000,68.000000,67.000000,35.000000,39.000000,26.000000,...,99.000000,99.000000,99.000000,999.000000,1.000000e+09,999.000000,999.000000,9999.000000,9999.000000,1.000000

In [7]:
train.head(1)

,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,VAR_0010,...,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
ID,,,,,,,,,,,,,,,,,,,,,
2,H,224,0,4300,C,0.0,0.0,False,False,False,...,98,98,998,999999998,998,998,9998,9998,IAPS,0

In [8]:
train.dtypes

VAR_0001     object
VAR_0002      int64
VAR_0003      int64
VAR_0004      int64
VAR_0005     object
VAR_0006    float64
VAR_0007    float64
VAR_0008     object
VAR_0009     object
VAR_0010     object
VAR_0011     object
VAR_0012     object
VAR_0013    float64
VAR_0014    float64
VAR_0015    float64
VAR_0016    float64
VAR_0017    float64
VAR_0018    float64
VAR_0019    float64
VAR_0020    float64
VAR_0021    float64
VAR_0022    float64
VAR_0023    float64
VAR_0024    float64
VAR_0025    float64
VAR_0026    float64
VAR_0027    float64
VAR_0028    float64
VAR_0029    float64
VAR_0030    float64
             ...
VAR_1906      int64
VAR_1907      int64
VAR_1908      int64
VAR_1909      int64
VAR_1910      int64
VAR_1911      int64
VAR_1912      int64
VAR_1913      int64
VAR_1914      int64
VAR_1915      int64
VAR_1916      int64
VAR_1917      int64
VAR_1918      int64
VAR_1919      int64
VAR_1920      int64
VAR_1921      int64
VAR_1922      int64
VAR_1923      int64
VAR_1924      int64
VAR_1925      int64
VAR_1926      int64
VAR_1927      int64
VAR_1928      int64
VAR_1929      int64
VAR_1930      int64
VAR_1931      int64
VAR_1932      int64
VAR_1933      int64
VAR_1934     object
target        int64
Length: 1933, dtype: object

Deal with missing values:

In [ ]:
train=train.fillna(0)
test=test.fillna(0)

Prepare model fit data:

In [9]:
yfit=train["target"]

In [10]:
train.drop("target",axis=1,inplace=True)

In [11]:
print(train.columns)

Index(['VAR_0001', 'VAR_0002', 'VAR_0003', 'VAR_0004', 'VAR_0005', 'VAR_0006',
       'VAR_0007', 'VAR_0008', 'VAR_0009', 'VAR_0010',
       ...
       'VAR_1925', 'VAR_1926', 'VAR_1927', 'VAR_1928', 'VAR_1929', 'VAR_1930',
       'VAR_1931', 'VAR_1932', 'VAR_1933', 'VAR_1934'],
      dtype='object', length=1932)

In [12]:
print(train.shape)
print(test.shape)

(145231, 1932)
(145232, 1932)

Label encode catagorical data:

In [13]:
alldata=pd.concat([train,test],axis=0,ignore_index=True)

In [14]:
catdata=alldata.select_dtypes(include=["object"])

In [15]:
catcolumns=catdata.columns

In [16]:
catcolumns

Index(['VAR_0001', 'VAR_0005', 'VAR_0008', 'VAR_0009', 'VAR_0010', 'VAR_0011',
       'VAR_0012', 'VAR_0043', 'VAR_0044', 'VAR_0073', 'VAR_0075', 'VAR_0156',
       'VAR_0157', 'VAR_0158', 'VAR_0159', 'VAR_0166', 'VAR_0167', 'VAR_0168',
       'VAR_0169', 'VAR_0176', 'VAR_0177', 'VAR_0178', 'VAR_0179', 'VAR_0196',
       'VAR_0200', 'VAR_0202', 'VAR_0204', 'VAR_0214', 'VAR_0216', 'VAR_0217',
       'VAR_0222', 'VAR_0226', 'VAR_0229', 'VAR_0230', 'VAR_0232', 'VAR_0236',
       'VAR_0237', 'VAR_0239', 'VAR_0274', 'VAR_0283', 'VAR_0305', 'VAR_0325',
       'VAR_0342', 'VAR_0352', 'VAR_0353', 'VAR_0354', 'VAR_0404', 'VAR_0466',
       'VAR_0467', 'VAR_0493', 'VAR_1934'],
      dtype='object')

In [17]:
for x in catcolumns:
    enc = preprocessing.LabelEncoder()
    enc.fit(alldata[x].astype(str))
    alldata[x]=enc.transform(alldata[x].astype(str))

Get fit data and test data:

In [25]:
xfit=alldata.iloc[0:145231,:]
testfit=alldata.iloc[145231:,:]

In [26]:
xfit = xfit.fillna(0)
testfit=testfit.fillna(0)

Fit the model:

In [27]:
logreg = linear_model.LogisticRegression(C=1e5)
logreg.fit(xfit, yfit)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [28]:
pred= logreg.predict(testfit)

Output to csv:

In [29]:
testloss=pd.DataFrame({'target':pred})

In [30]:
testid=pd.DataFrame(test.index)

In [31]:
submit=pd.concat([testid,testloss],axis=1)

In [32]:
submit.to_csv("submit.csv",index=False,sep=',')

** Final Score 0.52 **